# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* List popular languages in Data Science
* Commonly used libraries by Data Scientists
* Data Science tools
* Simple Arithmetic expressions
* Table in Markdowns

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java
6. C++

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Skikit-learn
5. Tensorflow
6. Caret

| Data Sciences Tools |
|---------------------|
| Jupyter |
| Rstudio |
| Apache Zepplin |

### Below are a few examples of evaluating arithmetic expressions in Python
x=15+23 <br>
print(x)

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=200/60
print(hours)

3.3333333333333335

## Author
Yug Dahiya